@import 'normalize.css';

/*
PRIMERA LISTA
primer punto */

.lista :last-child {
    background-color: rgb(0, 0, 255);
}
/* segundo punto */
.lista :nth-child(odd) {
    text-decoration: underline;
    text-decoration-color: green;
}

/* tercer punto */

.lista > li {
    display: inline-block;
    padding: 5px;
}

/* cuarto punto */

.lista ::after {
    content: '🤦';
}

/* quinto punto */

[lang='en'] {
    font-size: 200%;
    text-transform: uppercase;
}

/*SEGUNDA LISTA
punto uno y dos*/

#provincias :not(:nth-child(2)) {
    list-style-type: upper-roman;
}
