/* @media screen and (max-width: 400px) and (orientation: portrait) {
  html {
    display: flex;
  }

  header {
    display: flex;
    flex-shrink: 3;
    flex-direction: column;
    align-items: center;
  }

  #principal {
    display: flex;
    flex-direction: column;
  }
} */

@media screen and (max-width: 480px) and (orientation: portrait) {
  html {
    max-width: 600px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 3;
    flex-grow: 0;
    height: auto;
    max-width: 600px;
    align-self: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 3;
    flex-grow: 0;
    max-width: 600px;
  }

  #principal {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
}
