@import 'normalize.css';
@import 'media.css';

html {
  box-sizing: border-box;
}

body {
  max-width: 600px;
  margin: auto;
  font-size: small;
}

header {
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 40px;
}

main {
  max-width: 450px;
  margin: auto;
  line-height: 25px;
}

img {
  width: 200px;
  float: right;
}

.subtitulos {
  color: grey;
  border-bottom: 2px solid grey;
}

.input {
  background-color: grey;
  border: none;
  width: 100%;
}

form {
  max-width: 600px;
}

button {
  background-color: black;
  color: white;
  border: none;
  margin-top: 10px;
  font-size: smaller;
}
