@import 'normalize.css';

body {
    background-color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecera {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#total {
    font-size: 100px;
    font-weight: bold;
    color: white;
    align-self: flex-end;
}

/*Tamaño de las imagenes*/

.photo {
    width: 100px;
    border-radius: 50%;
}

h1 {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.social {
    width: 30px;
    padding: 5px;
}

/*---------------------------->*/
p {
    color: white;
    font-size: small;
    margin: 15px;
}

/*Formateo contenedores*/

.cabecera-contenedor {
    background-color: white;
    height: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    background-color: blue;
    height: 40%;
}

/*displays y colocar*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    padding: 150px;
    padding-top: 20px;
    align-self: center;
}

.users {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 250px;
    overflow: hidden;
}

nav {
    justify-content: flex-end;
    padding-top: 20px;
}

a {
    text-decoration: none;
}

section:first-child {
    animation-name: inicio;
    animation-duration: 2s;
}

section:nth-child(2) {
    animation-name: inicio;
    animation-duration: 4s;
}

section:last-child {
    animation-name: inicio;
    animation-duration: 6s;

}
/*puntero*/

section:hover {
    transition: 1s;
    transform: scale(1.25);
}


@keyframes inicio {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}