@import 'normalize.css';
@import 'media.css';

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-color: black;
  color: white;
}

.subtitulos {
  color: grey;
  border-bottom: 2px solid grey;
}

.input {
  background-color: grey;
  border: none;
}

button {
  width: 70px;
  font-size: small;
  background-color: black;
  color: white;
}
