@import 'normalize.css';

/*punto primero*/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  max-width: 800px;
  min-width: 400px;
}

/*punto dos*/

input:required {
  border-bottom-color: red;
}
/* punto tres */

fieldset {
  background-color: rgb(184, 174, 174);
  padding: 1rem;
}

/*punto cuatro*/

form :hover {
  transition: 2s;
  background-color: rgb(44, 43, 43);
}

/*punto cinco*/

/* form :first-child {
  border-bottom: 5px black solid;
} */

/*punto seis*/

.enviar {
  background-color: black;
  color: white;
  border: none;
}
